body {
	font-family: 'Geometos';
	margin: 0;
	background: #e5edf0;
}

.wrapper {
	height: 1080px;
	width: 1920px;
	text-align: center;
	background: #e5edf0;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transform-origin: center center;
	transform-origin: center center;
}

.header {
	height: 134px;
	background: #e5edf0;
	color: #fff;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 3.2fr 0.8fr;
	grid-column-gap: 8px;
	margin: 5px 5px 0 5px;
	/* margin-bottom: 5px;
     */
}

.middle-container {
	height: 931px;
	background: #e5edf0;
	margin: 10px 0 0;
	position: relative;
}

.footer {
	height: 54px;
	background: #e5edf0;
}


/*start header*/

.username {
	background-color: #e37a40;
	color: #fffefd;
	display: grid;
	grid-template-rows: 1fr 1fr;
	border-radius: 10px;
}

.username p {
	margin-bottom: 0;
	display: flex;
	align-items: center;
	font-size: 20px;
	padding: 0 5px;
}

.last_result {
	grid-template-columns: 0.3fr 1fr;
	background-color: #fff;
	border-radius: 10px;
	grid-column-gap: 1px;
	display: grid;
	color: #ee3753;
	border: 2px solid #324e5c;
}

.result-page {
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 1px;
	display: grid;
}

.cancelled {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 45px;
	margin: 0;
	border-right: 2px solid #324e5c;
	height: 100%;
}

.last_result_p {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	margin: 0;
	border-right: 2px solid #324e5c;
	height: 100%;
}

.last_result_text {
	padding: 5px;
	font-size: 27px;
	color: #000;
}

p {
	margin: 0;
}

.time_last_result {
	font-size: 18px;
}

.time_result_p:first-child {
	color: #000;
}

.result-points {
	font-size: 35px;
	letter-spacing: 0.8px;
}

.last_result_p:last-child {
	border-right: none;
}

.username_secondinnerdiv {
	display: flex;
	align-items: center;
	border-radius: 0 0 10px 10px;
}

.username_firstinnerdiv {
	border-bottom: 2px solid #e1946a;
	display: flex;
	align-items: center;
}

.time_to_game {
	display: grid;
	grid-template-rows: 1fr 1fr;
	border-radius: 10px;
}

.time_to_game_p {
	display: flex;
	align-items: center;
	justify-content: center;
}

.last_result_num {
	font-size: 131px;
	line-height: 0;
	font-family: arial;
	font-weight: bold;
}
.time_border{border-left:none !important;}
.time_to_game_text {
	margin: 0;
	font-size: 28px;
}

.time_to_game_bg_1 {
	background: #14b478;
	color: #000;
	border-radius: 10px 10px 0 0;
	border-bottom: 2px solid #43c997;
}

.time_to_game_bg_2 {
	background: #324e5c;
	border-radius: 0 0 10px 10px;
}

.time_to_game_num {
	font-size: 44px;
	margin: 0;
}

.time_result {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 1px;
	display: grid;
	border: 2px solid #324e5c;
	border-radius: 10px;
	background: #fff;
}

.time_to_result_bg_1 {
	color: #ee3753;
	font-size: 24px;
}

.time_to_result_bg_2 {
	color: #000;
	font-size: 24px;
}

.time_result_p {
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.time_result_text {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 2px solid #324e5c;
}

.time_result_num {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 2px solid #324e5c;
	border-bottom: 2px solid #324e5c;
}

.logout_firstinnerdiv {
	display: flex;
	align-items: center;
	background: #fff;
	justify-content: center;
	border-radius: 10px 10px 0 0;
	border-bottom: 2px solid #90a4ad;
	border: 2px solid #324e5c;
}

.time_result_text:first-child {
	border-bottom: 2px solid #324e5c;
}

.logout {
	background-color: #324e5c;
	color: #fffefd;
	display: grid;
	grid-template-rows: 1fr 1fr;
	border-radius: 10px;
}

.logout p {
	margin-bottom: 0;
	align-items: center;
	font-size: 21px;
	padding: 0 5px;
}

.logout_firstinnerdiv p {
	color: #ee3753;
	font-size: 25px;
}
.logout_firstinnerdiv p a{color:#ee3753;}
.logout_innerdiv {
	width: 100%;
}


/*end header*/


/*start middle container*/

.middle-container {
	/* display: grid;
     grid-template-columns: 1fr 4.5fr 1fr;
     grid-column-gap: 8px;
     */
	width: 83.5%;
	float: left;
}

.middle_wrap {
	display: grid;
	grid-template-columns: 1fr 4.5fr;
	grid-column-gap: 8px;
}

.single {
	background: #efebdf;
	display: grid;
	grid-template-rows: 0.85fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	border-radius: 10px;
	border: 6px solid #f0ca4d;
	height: 862px;
}

.single_head {
	background: #f0ca4d;
	font-size: 32px;
	border-bottom: none !important;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.single_first_div {
	border-radius: 10px 10px 0 0;
}

.single_last_div {
	border-radius: 0px 0px 10px 10px;
}

.single_div_p_num {
	font-size: 45px;
	padding: 0 24px 0 0;
	width: 50px;
}

.single_div_p_input input {
	font-size: 32px;
	width: 143px;
	height: 55px;
	border-radius: 5px;
	border: 2px solid #f1d888;
	text-align: center;
}

.single_div {
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid #efe5c2;
}

.double {
	background: #e5edf0;
	height: 862px;
}

.double_li li .active {
	color: #000 !important;
	background-color: #f0ca4d !important;
	border: none !important;
	position: relative;
	top: 2px;
}

.double_li li {
	border-radius: 10px 10px 0 0;
	margin-right: 6px;
	width: 24%;
}

.double_li li a {
	color: #fff;
	background: #324e5c;
	font-size: 32px;
}

.double_li {
	width: 97.4%;
	border-bottom: none;
}


/* .myTabContent {
     border: 6px solid #f0ca4d;
     width: 92.55%;
}
 */

.double_sub_li {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	border-bottom: 2px solid #eee6c2;
}

.double_sub_li_input input {
	font-size: 20px;
	width: 70px;
	height: 30px;
	border-radius: 5px;
	border: 2px solid #f1d888;
	text-align: center;
}

.double_sub_li_div {
	font-size: 20px;
	border-right: 2px solid #eee6c2;
	height: 72.5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.single_active {
	background: #939b9e;
}

.double_sub_li_div:hover,
.single_div:hover,
.triplediv:hover {
	background: #f0ca4d;
	cursor: pointer;
}

.double_checkbox_input input {
	font-size: 20px;
	width: 33px;
	height: 30px;
	border-radius: 5px;
	border: 2px solid #f1d888;
	text-align: center;
	position: relative !important;
}

.double_sub_li_div_main {
	background: #f0ece1;
	border-radius: 0 0 5px 5px;
	border: 6px solid #f0ca4d;
	width: 96%;
}

.double_sub_li_div_main_triple .double_sub_li_div {
	height: 66.9px;
}

.double_sub_li_div_main_triple {
	background: #f0ece1;
	border-radius: 0 0 5px 5px;
	border: 6px solid #f0ca4d;
	border-top: none;
	width: 96%;
}

.triple_menu {
	width: 95.9%;
	background: #f0ece1;
	/* border-radius: 0 0 5px 5px;
     */
	border: 6px solid #f0ca4d;
	border-bottom: none;
}

.double_checkbox_below {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	background: #fcddb1;
	border-radius: 0 0 10px 10px;
	border-right: 6px solid #f0ca4d;
	width: 96%;
	border-bottom: 6px solid #f0ca4d;
	border-left: 6px solid #f0ca4d;
	position: relative;
	top: -1px;
}

.double_checkbox_left {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	background: #fcddb1;
	border-radius: 0 10px 10px 0;
	border-right: 6px solid #f0ca4d;
	width: 3.6%;
	border-bottom: 6px solid #f0ca4d;
	border-top: 6px solid #f0ca4d;
	float: right;
	position: relative;
	left: -5px;
	height: 757px;
}

.double_checkbox_left .double_checkbox {
	width: auto;
}

.triple_checkbox_line .double_checkbox_left {
	height: 695px;
}

.triple_checkbox_line .double_checkbox_left .double_checkbox {
	width: auto;
}

.double_checkbox_input_left {
	position: relative;
	top: 0;
	left: 5.5px;
	padding: 28px 0 37px 0;
}

.triple_checkbox_line .double_checkbox_input_left {
	padding: 17px 0 43px 0;
}

.double_checkbox_input {
	position: relative;
	top: 1px;
	left: 0px;
	/* padding: 14px 0;
     */
	display: flex;
	align-items: center;
	justify-content: center;
}

.double_checkbox_input .container_checkbox {
	font-size: 0;
	margin: 3.1px 0;
}

.double_checkbox {
	width: 123.8px;
}
.qty-text {
    font-size: 35px;
    color: #fff;
    position: relative;
    top: 6px;
}
.qty{    width: 49.5%;
    position: relative;
    top: 0px;
    background: #14b478;
    border-radius: 0;
    height: 61px;}
.qty span label{color: #fff;
    position: relative;
	left: 7px;top:2px;}
	span.checkbox-number {
		/* font-size: 22px; */
		position: relative;
		left: 0px;
	}
.qty span {
    display: inline-block;
    width: 13%;
}
.qty span .checkmark{    width: 30px !important;
    height: 31px;}
.container_checkbox {
	display: block;
	position: relative;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


/* Hide the browser's default checkbox */

.container_checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}


/* Create a custom checkbox */

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #fff;
	font-size: 20px;
	width: 30px;
	height: 26px;
	border-radius: 5px;
	border: 2px solid #f1d888;
	text-align: center;
}


/* On mouse-over, add a grey background color */

.container_checkbox:hover input~.checkmark {
	background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.container_checkbox input:checked~.checkmark {
	background-color: #e37a40;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}


/* Show the checkmark when checked */

.container_checkbox input:checked~.checkmark:after {
	display: block;
}


/* Style the checkmark/indicator */

.container_checkbox .checkmark:after {
	left: 8px;
	top: -1px;
	width: 10px;
	height: 21px;
	border: solid #fff;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	font-weight: bold;
}

.triple_li {
	width: 100%;
	border-bottom: none;
}

.triple_li li {
	border-radius: 5px 5px 0 0;
	margin-right: 6px;
	width: 9.56%;
}

.triple_li li:last-child {
	margin-right: 0px;
}

.triple_li li a {
	color: #fff;
	background: #324e5c;
	font-size: 25px;
}

.triple_li li .active {
	color: #000 !important;
	background-color: #f0ece1 !important;
	border: none !important;
	position: relative;
	top: 2px;
}

.triple_maza_div {
	background: #e2f7f0;
	/* border-radius: 5px;
     */
	/* border: 4px solid #14b478;
     */
}

.triple_logo {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
}

.triple_maza_div_input {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	border: 5px solid #e37a40;
	/* border-top: none; */
	background: #fff;
}

.triple_maza_div_input_outline {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.triplediv {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 9px 0;
	border: 1px solid #ceefe4;
}

.triple_div_p_num {
	font-size: 27px;
	margin-right: 10px;
}

.triple_maza_div_combo {
	border: 5px solid #e37a40;
	border-top: none;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}

.buy_btn {
	position: absolute;
	bottom: 0;
	background: #14b478;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	border-radius: 10px;
	font-size: 35px;
	width: 100%;
	padding: 5% 0;
	/* margin-left: 4%; */
	margin-bottom: 1%;
	cursor:pointer;
}

.triple_maza_div_combo .container_checkbox .checkmark {
	border: 2px solid #e37a40;
	top: 14px;
	left: 10px;
	width: 40px;
	height: 35px;
}

.triple_maza_div_combo .container_checkbox {
	padding: 15px 0;
	color: #e37a40;
}

.ticket {
	cursor: pointer;
}

.ticket_points {
	/* position:absolute;
     */
	position: relative;
	bottom: 0;
	background: #fff;
	right: 0;
	width: 100%;
	height: 856px;
	/* display:none;
     */
}

.triple_maza_content {
	/*   border: 6px solid #14b478; */
	height: 856px;
	/* 
     border-radius: 5px; */
	position: relative;
}

.quantity_btn {
	color: #314d59;
	font-size: 20px;
	border-top: 5px solid #e37a40;
	padding: 7px 0;
}

.summary_points {
	height: 598px;
}

.total-points {
	color: #314d59;
	font-size: 22px;
	border-top: 5px solid #e37a40;
	padding: 7px 0;
}

.total-points-btn-value {
	font-size: 32px;
}

.triple_maza_li li .active {
	color: #fff !important;
	background-color: #e37a40 !important;
	border: none !important;
	position: relative;
	top: 2px;
}

.triple_maza_li li {
	border-radius: 10px 10px 0 0;
	margin-right: 6px;
	width: 100%;
}

.triple_maza_li li:last-child {
	margin-right: 0;
}

.triple_maza_li li a {
	color: #fff;
	background: #324e5c;
	font-size: 24px;
}

.triple_maza_li {
	width: 100%;
	border-bottom: none;
}

.ticket_points_head {
	color: #000;
	background: #f0ca4d;
	font-size: 40px;
	border-bottom: 6px solid #ec3853;
}

.triple_maza_div_combo .container_checkbox .checkmark:after {
	left: 12px;
	top: -1px;
	width: 15px;
	height: 28px;
}

span.combo_text {
	position: relative;
	left: 28px;
}

.triple_div_p_input input {
	font-size: 22px;
	width: 50px;
	height: 23px;
	border-radius: 5px;
	border: 1px solid #78d3b2;
	text-align: center;
}

.ticket_single {
	padding: 8px;
}

.ticket_points_head_single {
	background: #14b478;
	border-radius: 10px 10px 0 0;
}

.points_head_single {
	font-size: 25px;
	color: #fff;
}
.modal-dialog3{    max-width: 50%;
    margin: 30px auto;
    z-index: 11111111;height: 100%;}
.triple_ticket_info {
	border: 3px solid #14b478;
	border-top: none;
	border-radius: 0 0 10px 10px;
	    overflow: auto;
    max-height: 270px;
}

.triple_ticket_info .ticket_info {
	border: none;
}
.modal-dialog2 {
    max-width: 44%;
    margin: 0 auto;height: 100%;
}
.terminal_submit {
background: none;
    border: none;
    font-size: 23px;
    width: 100%;
}
.claim_table label{font-size:17px;margin:20px 0;}

.terminal_input{

    text-transform: initial;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	    margin: 14px auto 0;
    padding: 0.6rem 0.75rem;
    width: 55%;
    font-size: 30px;
font-family: arial;}
.win_no p {
    color: red;
}
.reload_text {
    background: #e37a40;
    padding: 10px 14px;
    border-radius: 5px;
    margin: 13px 0;
	color:#fff;
	font-size:19px;
}
.disconnect_text{font-size:23px;color:red;margin:20px auto 30px;}
.claim_table .terminal_input{padding: 0.4rem 0.75rem;
    font-size: 20px;}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{background:none;border:none;outline:none;}
.btn:focus{outline:none;}
.btn-primary.focus, .btn-primary:focus{box-shadow:none;}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{box-shadow:none;}
.modal-footer{    justify-content: center;border-top:none;}
.terminal1 .alert-danger{       top: initial;    bottom: 60px;
    background: none;
    border: none;
    color: red;
    box-shadow: none;
    font-size: 19px;}
.ticket_info {
	border-radius: 0 0 7px 7px;
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 8px 0;
	position: relative;
	border: 3px solid #14b478;
	border-top: none;
}

.ticket_info .fa-times-circle {
	position: absolute;
	right: 5px;
	color: #ef3753;
}

.ticket_points_inner_div {
	border: 5px solid #e37a40;
	height: 756px;
}

.ticket_qty {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: 1fr 1fr 1fr;
}


/*end middle container*/


/*start cr changes*/

.wrapper-grid {
	width: 99.5%;
	float: left;
	background: #e5edf0;
	margin: 0px 5px 0 5px;
}

.triple_maza {
	width: 16.2%;
	float: left;
	margin: 10px 0 0;
	height: 923px;
	margin-left: 5px;
	background: #fff;
	border-radius: 10px;
}

.triple_maza_innerdiv {
	margin: 10px;
	position: relative;
}


/*end cr changes*/


/*start footer*/

.footer {
	display: grid;
	grid-template-columns: 1fr 0.5fr;
	grid-column-gap: 8px;
	margin-top: 8px;
	margin-bottom: 5px;
}
.footer_left{    float: left;} 
.footer_right .footer_div{float: right;}
.footer_div {
	background: #324e5c;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	border-radius: 10px;
	font-size: 18px;
	width: 170px;
    /* display: inline-block; */
    height: 54px;
    float: left;
    margin-right: 5px;
}

.footer_div:hover {
	background: #f0ca4d;
	color: #000;
	cursor: pointer;
}

.clear {
	background: #f0ca4d;
	color: #000;
}

.ticket {
	background: #ee3753;
	color: #fff;
}

.footer_win_div {
	justify-content: normal;
	text-align: left;
	padding: 0 5px;
	background: #e37a40;
}

.print {
	margin-right: 40px;
}

.claim {
	background: #ee3753;
	color: #000;
}

.replay {
	background: #e37a40;
}

.replay:hover {
	background: #ee3753;
	color: #000;
	cursor: pointer;
}


/*end footer*/


/*result*/

.result {
	position: relative;
	z-index: 1;
	width: 700px;
	top: 0;
	height: 100%;
	margin: 0 auto;
}

.result img {
	width: 700px;
	margin: 0 auto;
}

.div1 img {
	width: 90px;
}

.div1-stop img {
	width: 90px;
}

.result-animation-frame {
	width: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin: 0 auto;
}

#main-wrapper_result {
	width: 107px;
	height: 153px;
	position: relative;
	bottom: 145px;
	left: 135px;
	/* border: solid 1px #00f;
     */
	overflow: hidden;
	padding: 0px;
	position: absolute;
	/* top: 268px; */
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
}

#main-wrapper1_result {
	width: 107px;
	height: 153px;
	position: relative;
	bottom: 145px;
	left: 273px;
	/* border: solid 1px #00f;
     */
	overflow: hidden;
	padding: 0px;
	position: absolute;
	/* top: 268px; */
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
}

#main-wrapper2_result {
	width: 107px;
	height: 153px;
	position: relative;
	left: 409px;
	/* border: solid 1px #00f;
     */
	bottom: 145px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	/* top: 268px; */
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
}

.result_container,
.result_container-stop {
	position: relative;
	width: 92px;
	height: 117px;
	// background: rgba(200,200,200,.3);
	display: flex;
	align-items: center;
	justify-content: center;
}

.result_container .div1 {
	width: 92px;
	height: 117px;
	//background:#989494;
	position: absolute;
	text-align: center;
	color: #aa1010;
	line-height: 500px;
	-webkit-backface-visibility: hidden;
	font-size: 189px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
}

.result_container-stop .div1-stop {
	width: 92px;
	height: 117px;
	//background:#989494;
	position: absolute;
	text-align: center;
	color: #aa1010;
	line-height: 500px;
	-webkit-backface-visibility: hidden;
	font-size: 189px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
}


/*end result*/


/*start spinner loading*/

.loading {
	max-width: 100%;
	margin: auto;
	padding: 0px;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: flex-start;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.loading .load {
	width: 100%;
	height: 100%;
	background-color: #040038;
	margin: 0px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
}
.small-loading .load {
    height: 100%;
    display: flex;
    align-items: center;
}

.loader {
	width: 50px;
	height: 50px;
	position: relative;
}

.loader.animation-5 .shape {
	width: 25px;
	height: 25px;
}

.loader .shape {
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 1px;
}

.loader .shape.shape1 {
	left: 0;
	background-color: #14b478;
}

.loader .shape.shape2 {
	right: 0;
	background-color: #f0ca4d;
}

.loader .shape.shape3 {
	bottom: 0;
	background-color: #e37a40;
}

.loader .shape.shape4 {
	bottom: 0;
	right: 0;
	background-color: #ee3753;
}

.animation-5 .shape1 {
	animation: animation5shape1 2s ease 0s infinite reverse;
}

@-webkit-keyframes animation5shape1 {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	25% {
		-webkit-transform: translate(0, 25px);
		transform: translate(0, 25px);
	}
	50% {
		-webkit-transform: translate(25px, 25px);
		transform: translate(25px, 25px);
	}
	75% {
		-webkit-transform: translate(25px, 0);
		transform: translate(25px, 0);
	}
}

@keyframes animation5shape1 {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	25% {
		-webkit-transform: translate(0, 25px);
		transform: translate(0, 25px);
	}
	50% {
		-webkit-transform: translate(25px, 25px);
		transform: translate(25px, 25px);
	}
	75% {
		-webkit-transform: translate(25px, 0);
		transform: translate(25px, 0);
	}
}

.animation-5 .shape2 {
	animation: animation5shape2 2s ease 0s infinite reverse;
}

@-webkit-keyframes animation5shape2 {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	25% {
		-webkit-transform: translate(-25px, 0);
		transform: translate(-25px, 0);
	}
	50% {
		-webkit-transform: translate(-25px, 25px);
		transform: translate(-25px, 25px);
	}
	75% {
		-webkit-transform: translate(0, 25px);
		transform: translate(0, 25px);
	}
}

@keyframes animation5shape2 {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	25% {
		-webkit-transform: translate(-25px, 0);
		transform: translate(-25px, 0);
	}
	50% {
		-webkit-transform: translate(-25px, 25px);
		transform: translate(-25px, 25px);
	}
	75% {
		-webkit-transform: translate(0, 25px);
		transform: translate(0, 25px);
	}
}

.animation-5 .shape3 {
	animation: animation5shape3 2s ease 0s infinite reverse;
}

@-webkit-keyframes animation5shape3 {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	25% {
		-webkit-transform: translate(25px, 0);
		transform: translate(25px, 0);
	}
	50% {
		-webkit-transform: translate(25px, -25px);
		transform: translate(25px, -25px);
	}
	75% {
		-webkit-transform: translate(0, -25px);
		transform: translate(0, -25px);
	}
}

@keyframes animation5shape3 {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	25% {
		-webkit-transform: translate(25px, 0);
		transform: translate(25px, 0);
	}
	50% {
		-webkit-transform: translate(25px, -25px);
		transform: translate(25px, -25px);
	}
	75% {
		-webkit-transform: translate(0, -25px);
		transform: translate(0, -25px);
	}
}

.animation-5 .shape4 {
	animation: animation5shape4 2s ease 0s infinite reverse;
}

@-webkit-keyframes animation5shape4 {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	25% {
		-webkit-transform: translate(0, -25px);
		transform: translate(0, -25px);
	}
	50% {
		-webkit-transform: translate(-25px, -25px);
		transform: translate(-25px, -25px);
	}
	75% {
		-webkit-transform: translate(-25px, 0);
		transform: translate(-25px, 0);
	}
}

@keyframes animation5shape4 {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	25% {
		-webkit-transform: translate(0, -25px);
		transform: translate(0, -25px);
	}
	50% {
		-webkit-transform: translate(-25px, -25px);
		transform: translate(-25px, -25px);
	}
	75% {
		-webkit-transform: translate(-25px, 0);
		transform: translate(-25px, 0);
	}
}


/*end spinner loading*/
.selected{    background: #f0ca4d;}
.alert-danger{color: #ffffff; 
    background-color: #c30a0a;
    border-color: #ff001b;
    position: absolute;
    width: 50%;
    z-index: 1;
    display: flex;
    align-items: center;
	text-align:center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 23%;
	font-size: 22px;    box-shadow: 2px 2px 3px #151212;}
	a:hover {
    color: #0056b3;
    text-decoration: none;
}
.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover{
	    color: #fff;
    text-decoration: none;
    opacity: 1;
}
	.alert-success{    background-color: #28a745;
		border-color: #51b31e;
		color: #ffffff;
    position: absolute;
    width: 50%;
    z-index: 1;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 23%;
    font-size: 22px;
    box-shadow: 2px 2px 3px #151212;}
.notification_success p{display: flex;
align-items: center;
justify-content: center;
height: 100%;}
.rm-alert {
    margin-bottom: 8px;
    overflow: auto;
    background-color: #e6e6e6;
    border-radius: 5px;
    padding: 5px 7px;
    border: 1px solid #000;
}
.rm-alert>div:first-child {
    float: left;
    width: 16%;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    color: #000;
}
.rm-alert .alert_msg_1 {
    float: left;
    width: 83%;
    text-align: left;
    color: #f00;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.3;
}
.remain_alert {
    color: #e80909;
    font-size: 14px;
}
.rem_bal1 {
    word-break: break-all;
    overflow: auto;
    max-height: 59px;
    color: #324e5c;
    margin-top: 8px;
    margin-bottom: 2px;
}
.rem_bal {
    word-break: break-all;
    overflow: auto;
    max-height: 59px;
    color: #324e5c;
    margin-top: 8px;
    margin-bottom: 2px;
}
.rem_bal p,.rem_bal1 p {
    display: inline-block;
    margin-right: 13px;
    border: 2px solid;
    margin-bottom: 6px;
    padding: 3px;
    font-size: 16px;
}
.popup_cls_btn button {
    color: #fff;
    background-color: #000;
    border: 1px solid #e34912;
    padding: 5px 20px;
    text-transform: uppercase;
    border-radius: 5px;
}
.win_no{    width: 100%;}
.win_no tr {
    border: 1px solid #efe5c2;
}
.win_no td {
    border: 1px solid #efe5c2;    padding: 6px 0;
}
th.claim_tab_head {
    border: 1px solid #efe5c2;     background: #f0ca4d;   padding: 6px 0;
}
.game_no_1 {
    margin-right: 15px;
    color: #e37a40;
}
.modal-dialog2{    max-width: 40%;
    margin: 0px auto;
    z-index: 11111111;height: 100%;}
.popup_cls_btn {
    text-align: center;
}
.terminal_submit:hover {
    background: none;
    border: none;
    font-size: 23px;
    width: 100%;
    color: #000;
    font-weight: bold;
	    transition: none;
}
.modal{    background: #00000082;}
.modal-backdrop.show{display:none;}
/*small loader*/

.small-loading {
	margin: auto;
	padding: 0px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: flex-start;
	height: 100%;
}

.small-loading .small-load {
	width: 30px;
	margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.small-loader {
	width: 30px;
	height: 30px;
	position: relative;
}

.small-loader.small-animation-5 .small-shape {
	width: 15px;
	height: 15px;
}

.small-loader .small-shape {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 1px;
}

.small-loader .small-shape.small-shape1 {
	left: 0;
	background-color: #14b478;
}

.small-loader .small-shape.small-shape2 {
	right: 0;
	background-color: #f0ca4d;
}

.small-loader .small-shape.small-shape3 {
	bottom: 0;
	background-color: #e37a40;
}

.small-loader .small-shape.small-shape4 {
	bottom: 0;
	right: 0;
	background-color: #ee3753;
}

.small-animation-5 .small-shape1 {
	animation: small-animation5shape1 2s ease 0s infinite reverse;
}

@-webkit-keyframes small-animation5shape1 {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	25% {
		-webkit-transform: translate(0, 15px);
		transform: translate(0, 15px);
	}
	50% {
		-webkit-transform: translate(15px, 15px);
		transform: translate(15px, 15px);
	}
	75% {
		-webkit-transform: translate(15px, 0);
		transform: translate(15px, 0);
	}
}

@keyframes small-animation5shape1 {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	25% {
		-webkit-transform: translate(0, 15px);
		transform: translate(0, 15px);
	}
	50% {
		-webkit-transform: translate(15px, 15px);
		transform: translate(15px, 15px);
	}
	75% {
		-webkit-transform: translate(15px, 0);
		transform: translate(15px, 0);
	}
}

.small-animation-5 .small-shape2 {
	animation: small-animation5shape2 2s ease 0s infinite reverse;
}

@-webkit-keyframes small-animation5shape2 {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	25% {
		-webkit-transform: translate(-15px, 0);
		transform: translate(-15px, 0);
	}
	50% {
		-webkit-transform: translate(-15px, 15px);
		transform: translate(-15px, 15px);
	}
	75% {
		-webkit-transform: translate(0, 15px);
		transform: translate(0, 15px);
	}
}

@keyframes small-animation5shape2 {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	25% {
		-webkit-transform: translate(-15px, 0);
		transform: translate(-15px, 0);
	}
	50% {
		-webkit-transform: translate(-15px, 15px);
		transform: translate(-15px, 15px);
	}
	75% {
		-webkit-transform: translate(0, 15px);
		transform: translate(0, 15px);
	}
}

.small-animation-5 .small-shape3 {
	animation: small-animation5shape3 2s ease 0s infinite reverse;
}

@-webkit-keyframes small-animation5shape3 {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	25% {
		-webkit-transform: translate(15px, 0);
		transform: translate(15px, 0);
	}
	50% {
		-webkit-transform: translate(15px, -15px);
		transform: translate(15px, -15px);
	}
	75% {
		-webkit-transform: translate(0, -15px);
		transform: translate(0, -15px);
	}
}

@keyframes small-animation5shape3 {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	25% {
		-webkit-transform: translate(15px, 0);
		transform: translate(15px, 0);
	}
	50% {
		-webkit-transform: translate(15px, -15px);
		transform: translate(15px, -15px);
	}
	75% {
		-webkit-transform: translate(0, -15px);
		transform: translate(0, -15px);
	}
}

.small-animation-5 .small-shape4 {
	animation: small-animation5shape4 2s ease 0s infinite reverse;
}

@-webkit-keyframes small-animation5shape4 {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	25% {
		-webkit-transform: translate(0, -15px);
		transform: translate(0, -15px);
	}
	50% {
		-webkit-transform: translate(-15px, -15px);
		transform: translate(-15px, -15px);
	}
	75% {
		-webkit-transform: translate(-15px, 0);
		transform: translate(-15px, 0);
	}
}

@keyframes small-animation5shape4 {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	25% {
		-webkit-transform: translate(0, -15px);
		transform: translate(0, -15px);
	}
	50% {
		-webkit-transform: translate(-15px, -15px);
		transform: translate(-15px, -15px);
	}
	75% {
		-webkit-transform: translate(-15px, 0);
		transform: translate(-15px, 0);
	}
}


/*end*/


/*login*/

.login_bg {
	background: url("../images/Bg.jpg");
	background-size: contain;
}

.plus-amusement {
	position: absolute;
	right: 20px;
	bottom: 18px;
}

.login-wrapper {
	width: 641px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	height: 100%;
}

.logo-img img {
	width: 641px;
	margin-bottom: 25px;
	margin-top: -60px;
}

.login-inner-div .form-control {
	margin: 0 auto;
	padding: 2rem 0.75rem;
	width: 70%;
	font-size: 30px;
}

.login-btn {
	background: url("../images/Login_Default_Btn.png");
	background-size: contain;
	background-repeat: no-repeat;
	padding: 2rem 0.75rem;
	width: 70%;
	margin: 10px auto 0;
	border: none;
	cursor: pointer;
	background-position: center;
}

.login-btn:hover {
	background: url("../images/Login_Highlight_Btn.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.download-img {
	background: url("../images/Free_Download_Default_Btn.png");
	background-size: contain;
	background-repeat: no-repeat;
	padding: 2rem 0.75rem;
	width: 500px;
	display: inline-block;
	margin: 20px auto 0;
	border: none;
	cursor: pointer;
}

.download-img:hover {
	background: url("../images/Free_Download_Highlight_Btn.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.playnow-img {
	background: url("../images/Playnow_Default_Btn.png");
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
	padding: 2rem 0.75rem;
	width: 500px;
	display: inline-block;
	margin: 20px auto 0;
	border: none;
	cursor: pointer;
}

.playnow-img:hover {
	background: url("../images/Playnow_Highlight_Btn.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}

.download-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	height: 100%;
}

.download-wrapper .logo-img img {
	width: 641px;
	margin-bottom: 115px;
	margin-top: -180px;
}

.download-div {
	display: inline-block;
}

input::placeholder {
	color: #dddddd !important;
}


/*end*/


/*result_animation*/

.opacity {
	position: fixed;
	background: #00000094;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.result-img-animation {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.result-img-animation-stop {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}


/*end result*/
/*report style*/	
	.modal-dialog1 {
		max-width: 85%;
		margin: 30px auto;
		z-index: 11111111;
	}
	.mfp-close {
		color: #fff;
	/* 	background: -webkit-linear-gradient(#f96449 53%,#e1290e 45%) !important;
		background: -o-linear-gradient(#f96449 53%,#e1290e 45%) !important;
		background: -moz-linear-gradient(#f96449 53%,#e1290e 45%) !important;
		background: linear-gradient(#f34e13 53%,#e41d00 45%) !important; */
		background:#000 !important;
		font-weight: bold;
		font-size: 43px;
		border: 4px solid #303030;
		box-shadow: 0 0 10px #000 inset;
		border-radius: 5px;
	text-shadow: 1px 1px 5px #040404;opacity:1;
	    position: relative;
    top: 5px;}
	
	.popup_head {
		color: #000;
		font-size: 30px;
		font-weight: bold;
		/* background: -webkit-linear-gradient(#222222, #151515);
		background: -o-linear-gradient(#222222, #151515);
		background: -moz-linear-gradient(#222222, #151515);
		background: linear-gradient(#222222, #151515); */
		background:#e37a40;
		border-radius: 5px;
		padding: 15px;
		text-align: center;
		display: block;
	}
	.modal-header .close {
		padding: 0% 0.9%;
		margin: 0rem 0rem 0rem auto;
	}
	
#cartoonVideo{    height: 830px;}
/*previous result*/
.chart_1 {
    padding: 1%;
    height: 100%;
}
.chart_head_1 {
    height: 70px;
}
.chart_head {
    float: left;
    width: 32.95%;
    height: 100%;
    padding: 0 1%;
    border-radius: 10px 10px 0 0;
    color: #000;
    font-size: 22px;
    text-align: center;
    display: grid;
    align-items: center;
	    font-weight: bold;
		    border-left: 2px solid #fff;
}
.draw_1 {
    background-color: #f0ca4d;
}
.san_1 {
    background-color: #f0ca4d !important;
}
.che_1 {
    background-color: #f0ca4d !important;
}
.chart_scroll {
    height: 87%;
    overflow: scroll;
    overflow-x: auto;
    font-size: 22px;
    font-weight: bold;
    color: #000;
}
.chart_cont_1 {
    background-color: #ebe9fd;
}
.chart_cont_2 {
    border-bottom: 2px solid #efe5c2;
    width: 33.3%;
    float: left;
    display: grid;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    padding: 10px 0;
    background: #f0ece1;
    border-left: 2px solid #fff;
}
.previous_body{height:830px;}
.draw_cancelled{font-size:18px;}
.opacity-wrapper{    position: fixed;
    background: #00000094;
    width: 100%;
    height: 87%;
	z-index: 1;}
	button:focus{outline:none;}
/**/

@font-face {
	font-family: 'Geometos';
	src: url('../fonts/Geometos.woff2') format('woff2'), url('../fonts/Geometos.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.disabled{
    pointer-events: none;
    opacity: 0.7;
    cursor: not-allowed;
	    background: #d1d1d1;
    color: #969696;
}
.random_sel_blink {
    /*   background: #fff !important; */
    
    box-shadow: 0 0 0 #000!important;
   /*  border: 2px solid #ff0000 !important; */
}